/dataSourceType/
/yangkit-data-api/dataSourceType/
/yangkit-data-impl/dataSourceType/
/yangkit-model-api/dataSourceType/
/yangkit-data-json-codec/dataSourceType/
/yangkit-model-impl/dataSourceType/
/yangkit-parser/dataSourceType/
/yangkit-xpath-api/dataSourceType/
/yangkit-xpath-impl/dataSourceType/

/yangkit-parser/src/test/resources/yang/rj/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/logs

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

*/apidocs/*
*.log

.DS_Store
